[submodule "DomainComponents"]
	path = DomainComponents
	url = https://github.com/naveed547/DomainComponents.git
	branch = master
[submodule "LibApp"]
	path = LibApp
	url = https://github.com/naveed547/LibApp.git
	branch = master
[submodule "Page1"]
	path = Page1
	url = https://github.com/naveed547/Page1.git
	branch = master
[submodule "Page2"]
	path = Page2
	url = https://github.com/naveed547/Page2.git
	branch = master
[submodule "UIComponents"]
	path = UIComponents
	url = https://github.com/naveed547/UIComponents.git
	branch = master
[submodule "Wrapper"]
	path = Wrapper
	url = https://github.com/naveed547/Wrapper.git
	branch = master
[submodule "Wrapper"]
	path = SharedApp
	url = https://github.com/naveed547/SharedApp.git
	branch = master
